<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>36365</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.048521</real>
			<key>Longitude</key>
			<real>-117.815153</real>
			<key>Name</key>
			<string>University Village</string>
			<key>RtpiNumber</key>
			<integer>175</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>36359</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.049723</real>
			<key>Longitude</key>
			<real>-117.816858</real>
			<key>Name</key>
			<string>So Campus/Temple</string>
			<key>RtpiNumber</key>
			<integer>216</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486769</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.053086</real>
			<key>Longitude</key>
			<real>-117.812834</real>
			<key>Name</key>
			<string>Innovation Village</string>
			<key>RtpiNumber</key>
			<integer>217</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>1592165</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.050362</real>
			<key>Longitude</key>
			<real>-117.81373</real>
			<key>Name</key>
			<string>Innovation Way at IBW</string>
			<key>RtpiNumber</key>
			<integer>298</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>48396</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.056977</real>
			<key>Longitude</key>
			<real>-117.827709</real>
			<key>Name</key>
			<string>Bldg 7 - College of Environmental Design</string>
			<key>RtpiNumber</key>
			<integer>218</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>33803</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059535</real>
			<key>Longitude</key>
			<real>-117.823514</real>
			<key>Name</key>
			<string>Building 94</string>
			<key>RtpiNumber</key>
			<integer>219</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>33817</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.061237</real>
			<key>Longitude</key>
			<real>-117.820974</real>
			<key>Name</key>
			<string>Rose Garden</string>
			<key>RtpiNumber</key>
			<integer>220</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>33835</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.060653</real>
			<key>Longitude</key>
			<real>-117.818335</real>
			<key>Name</key>
			<string>SAITS</string>
			<key>RtpiNumber</key>
			<integer>221</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>33851</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059746</real>
			<key>Longitude</key>
			<real>-117.819258</real>
			<key>Name</key>
			<string>CLA</string>
			<key>RtpiNumber</key>
			<integer>222</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486770</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059966</real>
			<key>Longitude</key>
			<real>-117.818134</real>
			<key>Name</key>
			<string>Parking Structure </string>
			<key>RtpiNumber</key>
			<integer>223</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486771</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.061511</real>
			<key>Longitude</key>
			<real>-117.818359</real>
			<key>Name</key>
			<string>Red Gum/Univ. Dr./Lot F2</string>
			<key>RtpiNumber</key>
			<integer>224</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486772</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.061407</real>
			<key>Longitude</key>
			<real>-117.820945</real>
			<key>Name</key>
			<string>Resident Halls</string>
			<key>RtpiNumber</key>
			<integer>225</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486773</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059379</real>
			<key>Longitude</key>
			<real>-117.824083</real>
			<key>Name</key>
			<string>Bldg. 1</string>
			<key>RtpiNumber</key>
			<integer>226</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>34999</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.058031</real>
			<key>Longitude</key>
			<real>-117.827096</real>
			<key>Name</key>
			<string>Student Health Services</string>
			<key>RtpiNumber</key>
			<integer>227</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>332423</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.049428</real>
			<key>Longitude</key>
			<real>-117.816997</real>
			<key>Name</key>
			<string>Entrance University Village</string>
			<key>RtpiNumber</key>
			<integer>228</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
