<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>487167</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.060864</real>
			<key>Longitude</key>
			<real>-117.812292</real>
			<key>Name</key>
			<string>Interim Design Center</string>
			<key>RtpiNumber</key>
			<integer>242</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>485416</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.060437</real>
			<key>Longitude</key>
			<real>-117.815626</real>
			<key>Name</key>
			<string>Oak Lane/F Lots</string>
			<key>RtpiNumber</key>
			<integer>243</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487168</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.061617</real>
			<key>Longitude</key>
			<real>-117.816683</real>
			<key>Name</key>
			<string>Cypress Lane/F Lots</string>
			<key>RtpiNumber</key>
			<integer>244</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487169</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.061185</real>
			<key>Longitude</key>
			<real>-117.82117</real>
			<key>Name</key>
			<string>Residents Hall</string>
			<key>RtpiNumber</key>
			<integer>245</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>486773</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059379</real>
			<key>Longitude</key>
			<real>-117.824083</real>
			<key>Name</key>
			<string>Bldg. 1</string>
			<key>RtpiNumber</key>
			<integer>246</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>34999</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.058031</real>
			<key>Longitude</key>
			<real>-117.827096</real>
			<key>Name</key>
			<string>Student Health Services</string>
			<key>RtpiNumber</key>
			<integer>247</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>1231738</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.055379</real>
			<key>Longitude</key>
			<real>-117.824914</real>
			<key>Name</key>
			<string>Collins College/Kellogg West (To Lot B)</string>
			<key>RtpiNumber</key>
			<integer>293</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487170</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.049454</real>
			<key>Longitude</key>
			<real>-117.82328</real>
			<key>Name</key>
			<string>Regenerative Studies</string>
			<key>RtpiNumber</key>
			<integer>248</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487171</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.048556</real>
			<key>Longitude</key>
			<real>-117.819753</real>
			<key>Name</key>
			<string>Agriscapes/Farm Store</string>
			<key>RtpiNumber</key>
			<integer>249</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>36359</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.049723</real>
			<key>Longitude</key>
			<real>-117.816858</real>
			<key>Name</key>
			<string>So Campus/Temple</string>
			<key>RtpiNumber</key>
			<integer>289</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>485601</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.055372</real>
			<key>Longitude</key>
			<real>-117.824873</real>
			<key>Name</key>
			<string>Collins College/Kellogg West </string>
			<key>RtpiNumber</key>
			<integer>250</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>48396</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.056977</real>
			<key>Longitude</key>
			<real>-117.827709</real>
			<key>Name</key>
			<string>Bldg 7 - College of Environmental Design</string>
			<key>RtpiNumber</key>
			<integer>251</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>33803</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.059535</real>
			<key>Longitude</key>
			<real>-117.823514</real>
			<key>Name</key>
			<string>Building 94</string>
			<key>RtpiNumber</key>
			<integer>252</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487172</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.06153</real>
			<key>Longitude</key>
			<real>-117.820682</real>
			<key>Name</key>
			<string>Rose Garden/Coll of Business</string>
			<key>RtpiNumber</key>
			<integer>253</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>487173</integer>
			<key>Image</key>
			<string>stop_sign_medium.gif</string>
			<key>Latitude</key>
			<real>34.060942</real>
			<key>Longitude</key>
			<real>-117.815714</real>
			<key>Name</key>
			<string>Univ. Police/Parking Services</string>
			<key>RtpiNumber</key>
			<integer>254</integer>
			<key>ShowLabel</key>
			<false/>
			<key>ShowStopRtpiNumberLabel</key>
			<false/>
			<key>ShowVehicleName</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
